# reference: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
ColumnLimit: 110
BinPackParameters: OnePerLine
BinPackArguments: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: Never
